body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;

	background-color: #ffffff;
	background-position: top center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

li, ul {
	list-style-type: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header {
	background-color: #eeeeee;
}

.main-header-logo:hover {
	filter: alpha (opacity=80);
	opacity: 0.80;
}

.main-header-logo:focus {
 	filter: alpha (opacity=30);
	opacity: 0.30;
}

.site-navigation {
	font-size: 16px;
	line-height: 20px;
	list-style: none;
}

.site-navigation a:hover {
	color: #fb565a;
}

.site-navigation a:focus {
	color: #bdbdbd;
}

.advanteges {
	background-color: #eeeeee;
}

.advanteges-button {

}




