/*index.css*/

html {
  min-width: 1100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

body {
  margin: auto;
  padding: 0;
  max-width: 1440px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 0px;
}

.list-nostyle {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-index {
  min-height: 1725px;
}

.main-catalog {
  min-width: 1100px;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 44px;
  background-color: #eeeeee;
}

.main-logo{
  padding-left: 12px;
  padding-top: 9px;
}

.main-logo:hover {
  opacity: 0.8;
}

.main-logo:focus {
  opacity: 0.3;
}

.slider {
  position: relative;
  min-height: 423px;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item{
  min-width: 1100px;
  display: none;
  height: 430px;
}

.slider-item:nth-child(1) {
  background-image: url(../img/indexImg/nerds-index-slide1.png);
  background-repeat: no-repeat;
  background-position: 79% -3px;
  background-size: 758px 433px;
  min-width: 1100px;
}

.slider-item:nth-child(2) {
  background-image: url(../img/indexImg/nerds-index-slide2.png);
  background-repeat: no-repeat;
  background-position: 79% -1px;
}

.slider-item:nth-child(3) {
  background-image: url(../img/indexImg/nerds-index-slide3.png);
  background-repeat: no-repeat;
  background-position: 80% -3px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  padding-top: 77px;
  padding-left: 140px;
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  padding-left: 141px;
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  margin-left: 140px;
  display: block;
  width: 201px;
  padding: 16px 19px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.main-header-logo:hover {
  -webkit-filter: alpha (opacity=80);
  filter: alpha (opacity=80);
  opacity: 0.80;
}

.main-header-logo:focus {
  -webkit-filter: alpha (opacity=30);
  filter: alpha (opacity=30);
  opacity: 0.30;
}

.site-navigation {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0px;
  height: 72px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
  list-style: none;
}

.site-navigation img {
  width: 175px;
  height: 65px;
}

.site-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 16px;
  margin: 0;
  width: 437px;
}

.site-navigation li {
  display: inline;
}

.site-navigation li a {
  color: black;
}

.site-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus {
  color: #bdbdbd;
}

.navigation {
  padding-top: 19px;
  width: 798px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 18px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navigation-store {
  width: 527px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.basket {
  width: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: black;
}

.advanteges-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.link-1 {
  border-bottom:2px solid #fb565a;
  padding-bottom: 9px;
  padding-left: 2px;
}

.advanteges-button {
  display: inline-block;
  background-color: #fb565a;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 19px 54px;
  color: white;
}

.advanteges-button:hover {
  background-color: #e74246;
}

.advanteges-button:focus {
  background-color: #d7373b;
  color: #e48789;
}

.products {
  min-width: 1100px;
  padding-top: 79px;
  padding-right: 61px;
  min-height: 428px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
   justify-content: center;
}

.container-products {
  width: 1101px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
} 

.container-products li{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-bottom: 2px;
  height: 347px;
}

.container-products h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.container-products li a.img {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  padding-left: 1px;
}

.container-products li h3 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin: 0;
  margin-top: 3px;
}

.container-products li p {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin: 0;
  margin-bottom: 15px;
}

.container-products li a {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.products-text {
  width: 278px;
}

.order-button-1, .order-button-2, .order-button-3 {
  display: inline-block;
  border-radius: 7px;
  text-transform: uppercase;
  padding: 14px 41px;
  color: white;
} 

.order-button-1 {
  background-color: #fb565a;
}

.order-button-2 {
  background-color: #00ca74;
}

.order-button-3 {
  background-color: #efc84a;
}

.order-button-1:hover{
  background-color: #e74246;
}

.order-button-2:hover{
  background-color: #00bc6c;
}

.order-button-3:hover{
  background-color: #eab534;
}

.order-button-1:focus {
  background-color: #d7373b;
  color: #e48789;
}

.order-button-2:focus {
  background-color: #00aa62;
  color: #74c69c;
}

.order-button-3:focus {
  background-color: #e5a722;
  color: #edc47f;
}

.line {
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  min-width: 1100px;
}

.line-vertical {
  width: 2px;
  height: 53px;
  background-color: #eeeeee;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  border: none;
  margin-top: 61px;
  margin-left: 1px;
}

hr {
  border: none;
  margin: 0;
  height: 2px;
  background-color: #eeeeee;
}

.about-us {
  min-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  padding-top: 28px;
  /* padding-right: 125px; */
  padding-bottom: 16px;
}

.box1-about { 
  width: 675px;
  padding-bottom: 19px;
  padding-left: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 460.6px;
}

.box2-about {
  padding-right: 54px;
  padding-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-title2{
  margin: 0;
  padding-left: 10px;
}

.about-title {
  padding-top: 45px;
  padding-left: 10px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
}

.box2-about h3 {
  margin: 0;
  padding-left: 16px;
  padding-top: 0px;
  padding-bottom: 6px;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.02ex;
}

.about-work1 {
  height: 16px;
  margin: 0;
  padding-top: 4px;
  letter-spacing: 0.01em;
  font-size: 16px;
  padding-left: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.about-ul {
  padding-left: 10px;
  padding-bottom: 36px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 121px;
}

.about-stroke {
  background: url(../img/indexImg/stroke.png) no-repeat 0 11px;
  padding-left: 36px;
}

.about-accuracy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 10px;
  margin: 0;
  width: 343px;
}

.about-accuracy li {
  width: 106px;
}

ul.about-accuracy .about-p {
  margin-bottom: 35px;
}

.about-accuracy p {
  line-height: 18px;
}

.about-accuracy span {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.box2-about img {
  width: 360px;
  padding-right: 15px;
  padding-top: 10px;
  height: 209px;
}

.box2-sup {
  font-size: 26px;
}

.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 180px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.customers-logo {
  width: 1182px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0;
}

.customers-logo a {
  -webkit-filter: alpha (opacity=20);
  filter: alpha (opacity=20);
  opacity: 0.20;
}

ul.customers-logo li {
  display: inline;
}

.customers-logo a:hover {
  -webkit-filter: alpha (opacity=100);
  filter: alpha (opacity=100);
  opacity: 1.00;
}

.customers-logo a:focus {
  -webkit-filter: alpha (opacity=10);
  filter: alpha (opacity=10);
  opacity: 0.10;
}

.customer-barber {
  padding-right: 2px;
}

.main-address {
  width: 222px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-style: normal;
}

.container-address {
  height: 424px;
  position: relative;
}

.address {
  position: absolute;
  text-align: center;
  background-color: white;
  width: 319px;
  min-height: 307px;
}

.address-title {
  margin: 0;
  padding-top: 49px;
  padding-right: 26px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.address-text1 {
  margin: auto;
  padding-top: 25px;
  padding-right: 18px;
  color: #666666;
  line-height: 18px;
}

.address-text2 {
  line-height: 18px;
  margin: 0;
  padding-top: 16px;
  padding-right: 46px;
  letter-spacing: 0.02em;
  color: #666666;
}

.call-number {
  text-decoration: none;
  color: #000000;
}

.writetous-button {
  top: 37px;
  display: inline-block;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #fb565a;
  color: white;
  padding: 17px 45px;
  font-weight: 500;
  line-height: 18px;
}

.writetous-button:hover {
  background-color: #e74246;
}

.writetous-button:focus {
  background-color: #d7373b;
  color: #e48789;
}

.container-address  section.address, img, a {
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.container-address .pointer {
  position: absolute;
  z-index: 1;
  left: 684px;
  top: 90px;
}

section.address {
  top: 55px;
  left: 140px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.map {
  width: 100%;
  top: 0;
  z-index: 0;
  position: absolute;
}

div.friendship{
  padding-right: 281px;
  padding-top: 10px;
}

.friendship-p {
  margin: 0;
  padding-bottom: 5px;
  font-size: 37px;
  line-height: 36px;
  font-weight: 500;
}

.sale {
  line-height: 22px;
  margin: 0;
  padding-bottom: 16px;
  padding-top: 4px;
}

.container-social {
  min-width: 1100px;
  /* padding-right: 383px; */
  padding-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 263px;
}

ul.social li {
  display: inline;
}

.child-social {
  padding-left: 72px;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

ul.social a {
  display: inline-block;
}

a.vk-button {
  height: 80px;
  width: 80px;
  background: url(../img/vk-icon-1.png) no-repeat;
}

a.vk-button:hover {
  height: 80px;
  width: 80px;
  background: url(../img/vk-icon-2.png) no-repeat;
}

a.vk-button:focus {
  height: 80px;
  width: 80px;
  background: url(../img/vk-icon-3.png) no-repeat;
}

a.fb-button {
  height: 80px;
  width: 80px;
  background: url(../img/fb-icon-1.png) no-repeat;
}

a.fb-button:hover {
  height: 80px;
  width: 80px;
  background: url(../img/fb-icon-2.png) no-repeat;
}

a.fb-button:focus {
  height: 80px;
  width: 80px;
  background: url(../img/fb-icon-3.png) no-repeat;
}

a.instagram-button {
  height: 80px;
  width: 80px;
  background: url(../img/instagram-icon-1.png) no-repeat;
}

a.instagram-button:hover {
  height: 80px;
  width: 80px;
  background: url(../img/instagram-icon-2.png) no-repeat;
}

a.instagram-button:focus {
  height: 80px;
  width: 80px;
  background: url(../img/instagram-icon-3.png) no-repeat;
}

/*write-to-us css*/

.modal {
  position: fixed;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 40px rgb(0, 0, 0, 0.6);
  box-shadow: 0 0 40px rgb(0, 0, 0, 0.6);
  color: #000000;
  display: none;
}

.modal-form {
  width: 861px;
  height: 523px;
  top: 121px;
  left: 50%;
  margin-left: -477px;
  z-index: 4;
  padding: 64px 0px 0px 96px;
}

.modal-map {
  top: 50%;
  left: 50%;
  width: 766px;
  height: 560px;
  margin-top: -280px;
  margin-left: -390px;
  z-index: 3;
  border: 7px solid white;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  margin: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 5;
  border: none;
}

.modal-close {
  position: absolute;
  border: 0;
  cursor: pointer;
  top: -35px;
  left: 101%;
  padding-left: 4px;
  background-color: #ffffff;
  -webkit-filter: alpha (opacity=30);
  filter: alpha (opacity=30);
  opacity: 0.30;
}

.modal-close:hover {
  -webkit-filter: alpha (opacity=100);
  filter: alpha (opacity=100);
  opacity: 1.00;
  background-color: #ffffff;
  border: 0;
}

.modal-close:focus {
  -webkit-filter: alpha (opacity=10);
  filter: alpha (opacity=10);
  opacity: 0.10;
  background-color: #ffffff;
  border: 0;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.modal-title {
  margin: 0;
  padding-bottom: 38px;
  font-size: 45px;
  line-height: 45px;
}

.modal-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}

.send-button {
  position: absolute;
  top: 453px;
  height: 50px;
  width: 260px;
  border: none;
  border-radius: 4px;
  background-color: #fb565a;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  left: 96px;
}

.send-button:hover {
  background-color: #e74246;
}

.send-button:focus {
  background-color: #d7373b;
  color: #e48789;
}

.close-cross {
  position: absolute;
  border: 0;
  cursor: pointer;
  top: 76px;
  left: 88%;
  padding-left: 4px;
  background-color: #ffffff;
  -webkit-filter: alpha (opacity=30);
  filter: alpha (opacity=30);
  opacity: 0.30;
}

.close-cross:hover {
  -webkit-filter: alpha (opacity=100);
  filter: alpha (opacity=100);
  opacity: 1.00;
  background-color: #ffffff;
  border: 0;
}

.close-cross:focus {
  -webkit-filter: alpha (opacity=10);
  filter: alpha (opacity=10);
  opacity: 0.10;
  background-color: #ffffff;
  border: 0;
}

.login-info {
  border: 2px solid #d7dcde;
  border-radius: 2px;
  background-color: white;
  font-size: 16px;
  line-height: 18px;
  opacity: 0.5;
}

.login-info :focus {
  opacity: 1.0;
  border-color: #000000;
}

.login-info:invalid {
 border-color: red;
 color: red;
}

.login-form input:focus {
  border-color: #663d15;
  opacity: 1.00;
}

.position-name {
  position: absolute;
  top: 177px;
  left: 97px;
  height: 45px;
  width: 344px;
  padding-left: 13px;
}

.position-email {
  position: absolute;
  top: 176px;
  left: 497px;
  height: 46px;
  width: 344px;
  padding-left: 14px;
}

.position-text {
  position: absolute;
  margin: 0px;
  width: 742px;
  height: 118px;
  resize: none;
  top: 287px;
  left: 98px;
  width: 743px;
  min-height: 104px;
  padding-left: 12px;
  padding-top: 12px;
}

.login-form input[type="text"] {
  color: #000000;   
}

.position-email-label {
  position: absolute;
  top: 149px;
  left: 497px;
}

.position-text-label {
  position: absolute;
  top: 260px;
  left: 98px;
}

/*catalog css*/

.main-catalog-container {
  padding-bottom: 61px;
 -ms-flex-pack: distribute;
 justify-content: space-around;
 padding-left: 81px;
 padding-right: 59px;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 margin-top: 57px;
 -webkit-box-pack: justify;
 margin-left: 0;
 margin-right: 0;
}

.shop-h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 238px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eeeeee;
}

.main-h1 {
  font-size: 55px;
  line-height: 55px;
  background-color: #eeeeee;
  margin: 0;
  font-weight: 600;
  padding-bottom: 32px;
  padding-right: 3px;
}

fieldset, ul {
  border: none;
  padding: 0;
}

.filter-item {
  margin: 0;
  padding: 0;
  
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  background-color: #f1f1f1;
  padding-top: 41px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  border: 8px solid #ffffff;
  background-color: #ababab;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls {
  font-size: 0;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 0px;
  letter-spacing: 0.02em;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter-font {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  padding-left: 0px;
  text-transform: uppercase;
}

.filter-feature {
  padding-bottom: 15px;
}

.label-advantage {
  padding-top: 15px;
  padding-bottom: 16px;
}

.label-gallery {
  padding-top: 15px;
  padding-bottom: 16px;
}

.radio-grid {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

.radio-grid + span:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: -5px;
  border-radius: 50%;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 0 0 4px #000;
  box-shadow: 0 0 0 4px #000;
  margin-right: 14px;
  opacity: 0.40;
}

.radio-grid:checked + span::before {
  background: #000000;
}

.radio-grid:hover + span::before {
  opacity: 1.00;
}

.radio-grid:disabled + span::before {
  opacity: 0.30;
}

.radio-grid:disabled + span {
  opacity: 0.30;
}

.radio-grid + span {
  display: block;
}

.sort-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding-left: 21px;
}

.sort-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 273px;
  padding-right: 47px;
}   

.radio-sort {
  font-size: 14px;
  opacity: 0.30;
  color: #000000;
}

.radio-sort:hover {
  opacity: 0.60;
}

.radio-sort:checked {
  opacity: 1.00;
}

.radio-sort:active {
  opacity: 1.00;
}

.sort-span {
  font-weight: normal;
  font-size: 14px;
}

label {
  display: block;
  cursor: pointer;
}

.label-adaptive {
  padding-top: 12px;
  padding-bottom: 20px;
}

.label-fixed {
  padding-bottom: 15px;
}

[type="checkbox"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

[type="checkbox"] + span::before {
  content: "";
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 7px;
  padding-left: 34px;
  background: url("../img/svg/checkbox-off.svg") no-repeat 1px 1px;
  vertical-align: middle;
  opacity: 0.4;
}

[type="checkbox"]:checked + span::before {
  background: url("../img/svg/checkbox-on.svg") no-repeat 1px 1px;
}

[type="checkbox"]:hover + span::before {
  opacity: 1.00;
}

[type="checkbox"]:disabled + span::before {
  opacity: 0.30;
}

[type="checkbox"]:disabled + span {
  opacity: 0.30;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 191px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 56px;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 241px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.feature-input {
  min-height: 242px;
  margin: 0;
}

.filter-button {
  padding-top: 34px;
}

.sort-button {
  display: flex;
  justify-content: space-between;
  width: 40px;
  padding-right: 23px;
}

.sort-type {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.catalog-container {
  margin-left: 0;
  width: 803px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.catalog-navigation {
  padding-top: 2px; 
}

.show {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.show-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: #eeeeee;
  height: 50px;
  width: 260px;
  border: none;
  border-radius: 2px;
}

.show-button:hover {
  background-color: #dfdfdf;
}

.show-button:focus {
  background-color: #d5d5d5;
  color: #a9a9a9;
  -webkit-box-shadow: inset 1px 3px 7px 0px #000000;
  box-shadow: inset 1px 3px 7px 0px #000000;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-transform: uppercase;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sort-button a {
  opacity: 0.20;
  color: #000000;
}

.sort-button a:hover {
  opacity: 0.50;
} 

.sort-button a:focus {
  opacity: 1.00;
}

.pages li {
  display: inline;
}

.version-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin-bottom: 35px;
}

.grid-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 51px;
}

.products-box {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
}

.product-head {
  opacity: 0.12;
}

.product-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 18px;
  background: #eeeeee;
  position: absolute;
  width: 100%;
  min-height: 215px;
  top: 386px;
  z-index: -1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #666666;
}

.version-product:hover .product-head,
.version-product:focus .product-head {
  opacity: 1.0;
}

.version-product:hover .product-popup,
.version-product:focus .product-popup {
  z-index: 2;
}

.version-product:hover,
.version-product:focus  {
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.product-name {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  padding-right: 5px;
}

.product-name:hover {
  color: #fb565a;
}

.product-name:focus {
  color: #cacaca;
}

.product-p {
  margin: 0;
  line-height: 19px;
  text-align: center;
  padding-bottom: 11px;
}

.buy-product {
  margin-bottom: 39px;
  padding: 16px 61px 11px 63px;
  background-color: #fb565a;
  height: 23px;
  border-radius: 4px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.buy-product:hover {
  background-color: #e74246;
}

.buy-product:focus {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 0 5px rgb(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px rgb(0, 0, 0, 0.3); 
}

.select-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 461px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 24px;
  padding-left: 22px;
}

.select-pages div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 171px;
}

.select-button {
  outline: none;
  background: #eeeeee;
  width: 49px;
  height: 49px;
  border: none;
  border-radius: 3px;
}

.select-button:active {
  background: #ffffff;
  border: solid 3px #dbdbdb;
}

.select-button:hover {
  background: #dfdfdf;
}

.select-button:focus {
  -webkit-box-shadow: inset 0px 3px 0 0 #bfbfbf;
  box-shadow: inset 0px 3px 0 0 #bfbfbf;
  background: #d5d5d5;
  color: #a9a9a9;
} 

.select-button:checked {
  background: #ffffff;
  color: #a9a9a9;   
} 

.next-page {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 13px;
}

.next-button {
  text-transform: uppercase;
  width: 257px;
  font-size: 16px;
  background: #eeeeee;
  border: none;
  outline: none;
  border-radius: 3px;
}

.next-button:hover {
  background: #dfdfdf;
}

.next-button:focus {
  -webkit-box-shadow: inset 0px 3px 0 0 #bfbfbf;
  box-shadow: inset 0px 3px 0 0 #bfbfbf;
  background: #d5d5d5;
  color: #a9a9a9;
}

/*write-to-us*/

.wu-body {
  margin: auto;
}

.reserve-popup {
  position: fixed;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 40px rgb(0, 0, 0, 0.6);
  box-shadow: 0 0 40px rgb(0, 0, 0, 0.6);
  color: #000000;
}

.popup-window {
  width: 861px;
  height: 523px;
  left: 50%;
  margin-left: -477px;
  z-index: 3;
  padding: 64px 0px 0px 96px;
}

.wu-title {
  margin: 0;
  padding-bottom: 38px;
  font-size: 45px;
  line-height: 45px;
}